input[type="text"] {
  background: url(../../public/images/search_black_24dp.svg) no-repeat center
    right 2px;
}

.AutoCompleteSearchInputContainer {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.AutoCompleteSearchInput > input {
  display: block;
  width: 400px;
  margin: 0px 0;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.dataResult {
  background-color: yellowgreen;
  margin-top: 10px;
  margin-left: 0px;
  padding-top: 0px;
  color: white;
}

.dataResult p:hover {
  background-color: aqua;
}